.title {
  text-align: center;
}

.search-box {
  margin: 32px 0;
}

.item-list-box {
  margin: 20px 0;
}

.item-box {
  border: 0.5px solid #0095ff;
  padding: 10px;
  border-radius: 0.25rem;
  margin-bottom: 5px;
}

.item-content {
  position: relative;
}

.item-close {
  position: absolute;
  top:0;
  right: 0;
}